{% extends "shop/base.html" %}
{% load static %}
{% block title %}

    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}
<div class="main">
    <div class="jumbotron">
        <h3>Категории</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a class="btn btn-default" href="{% url "shop:product_list" %}">Все</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a  class="btn btn-default" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
 
<div class="container">
	<div class="row">
		<div class="col">
			
	   
        <h1>{% if category %}{{ category.name }}{% else %}Товар{% endif %}</h1>
        {% for product in products %}
            <div  class="col-md-4">
               <p> <a href="{{ product.get_absolute_url }}"></p>

                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" style="width:300px" height="300px">
                </a>
              <p>  <a class="btn btn-default"  href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
                {{ product.price }}₽
            </div>
        {% endfor %}
    </div>
    </div>
   </div>
    </div>
{% endblock %}