{% extends "app/layout.html" %}

{% block content %}
<!-♕ -->
<div class="jumbotron">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <p>МАГАЗИН ЗООТОВАРОВ "ФИЛЯ"
     Наш Интернет-зоомагазин предлагает широкий ассортимент качественных и сертифицированных кормов для кошек и собак, а также других товаров для собак. Мы предлагаем самые лучшие и востребованные корма для животных. В нашем зоомагазине предоставляется продажа корма для собак и доставка кормов на дом. У нас имеются в продаже журналы и книги, где приведено множество полезных советов ветеринаров. Мы также реализуем игрушки, аксессуары и лакомства для ваших животных – кошек и собак.

Доставка кормов и товаров для животных на дом осуществляется очень качественно, быстро, и недорого.

У нас в зоомагазине можно приобрести также все необходимые ветеринарные препараты. Наши ветеринары предоставляют консультации по применению сухих и консервированных кормов для кошек и собак, дозировке и способу кормления. Наши специалисты помогут вам выбрать специальные кормовые добавки вашему любимому питомцу.
 </p>
</div>

{% endblock %}
